pyswisseph==2.10.3.2
pytz==2023.3
geopy==2.4.1
flask==2.3.3
flask-cors==4.0.0
gunicorn==21.2.0
timezonefinder==6.5.9
requests==2.31.0
idna
python-dotenv==1.0.1
scipy==1.13.0
shapely==2.0.4
numpy==1.24.3
swisseph==0.0.0.dev1
geojson
pyproj
